@page "/"
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (personas == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de nacimiento</th>
            <th>Años de experiencia</th>
            <th>Descripción</th>
            <th>Empleo</th>
            <th>Foto</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                <td>@personas[i].Nombre</td>
                <td>@personas[i].Apellidos</td>
                <td>@personas[i].FecNacimiento</td>
                <td>@personas[i].AniosExperiencia</td>
                <td>@personas[i].Descripcion</td>
                <td>@personas[i].Empleo</td>
                <td><img src="@personas[i].Foto" alt=""/></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="Siguiente">Siguiente</button><br><br>

    <form>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" bind="@nombre"><br><br>
        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" bind="@nombre"><br><br>
        <input type="text" id="fecNacimiento" name="fecNacimiento" placeholder="Fecha de nacimiento" bind="@nombre"><br><br>
        <input type="text" id="aniosExperienci" name="aniosExperienci" placeholder="Años de experiencia" bind="@nombre"><br><br>
        <input type="text" id="descripcion" name="descripcion" placeholder="Descripción" bind="@nombre"><br><br>
        <input type="text" id="empleo" name="empleo" placeholder="Empleo" bind="@nombre">
    </form><br>
    <button class="btn btn-primary" @onclick="Add">Añadir</button><br><br>
}

@code {
    private int i;
    private string nombre;
    
    private Persona[]? personas;

    protected override async Task OnInitializedAsync()
    {
        personas = await Http.GetFromJsonAsync<Persona[]>("sample-data/listaPersonas.json");
    }

    private void Siguiente()
    {
        i++;
        if (personas != null && i >= personas.Length)
        {
            i = 0;
        }
    }

    public void Add()
    {
        if (nombre != null)
        {
            
        }
    }

    public class Persona
    {
        public string? Nombre { get; set; }
        public string? Apellidos { get; set; }
        public string? FecNacimiento { get; set; }
        public int AniosExperiencia { get; set; }
        public string? Descripcion { get; set; }
        public string? Empleo { get; set; }
        public string? Foto { get; set; }
    }
}